.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: white;
}

.no-sidebar {
  height: 10vh;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.logo {
  color: #565656;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.button {
  background-color: inherit;
  border: none;
}

.navbar-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar-ul li {
  display: flex;
  padding-left: 10px;
}

.nav-link,
.active-link {
  width: 100%;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px;
  color: #565656;
  font-weight: 700;
}

.active-link {
  background-color: #97bf0f;
  color: white;
}

.footer {
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.icons-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.icon,
.footer-span {
  color: #5d5d5d;
}

.footer-span {
  text-align: center;
  font-size: 0.6rem;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: static;
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  .navbar {
    padding-top: 30px;
  }
}
